* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bd8216;
    font-family: 'Girassol', cursive;
}

.acContainer {
    width: 80%;
    margin: 0 auto;
}

section {
    padding: 15px;
}

section p {
    margin-bottom: 5px;
}

section h1 {
    margin-bottom: 10px;
    font-size: 40px;
}

input {
    margin-bottom: 10px;
    cursor: pointer;
}

input:focus {
    outline: 0;
}

button {
    margin-top: 5px;
    cursor: pointer;
    background-color: bisque;
    width: 100px;
    height: 35px;
    border-radius: 7px;
}

.color {
    color: rgb(47, 57, 209);
}

.color-2 {
    color: rgb(124, 26, 116);
}