* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bd8216;
}

.acContainer {
    width: 80%;
    margin: 0 auto;
    background-color: aliceblue;
}

section {
    padding: 15px;
}

input {
    margin-bottom: 10px;
    cursor: pointer;
}

input:focus {
    outline: 0;
}

.red {
    color: red;
}

.green {
    color: green;
}